<!-- <div>
  <h1>Login</h1>
  username:
  <input type="text" ng-model="user.username"/>
  <br/>
  password:
  <input type="text" ng-model="user.password"/>
  <button ng-click="login()">login</button>
</div> -->
<nav role="navigation" class="navbar navbar-default">
<div class="navbar-header">
    <img src="images/git-cat.png" style="height:50px;"></img>
</div>
<div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/" >Home</a></li>
        <li ng-hide="loginForm"><a href="/list">List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li ng-hide="loginForm"><a href="/logout">Logout</a></li>
   </ul>
</div>
</nav>

<hgroup>
  <h1>Stars App</h1>
  <h5>This app lists all the stars for any Github user</h5>
</hgroup>


<form ng-show="loginForm" class="form">
  <div class="group">
    <input type="text" ng-model="user.username"><span class="highlight"></span><span class="bar"></span>
    <label>User Name</label>
  </div>
  <div class="group">
    <input type="password" ng-model="user.password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <button type="button" class="button buttonBlue" ng-click="login()">Sign In
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
